BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
SortIncludes: Never
BreakBeforeBraces: Attach
SeparateDefinitionBlocks: Always